<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <img src="https://videos.milesplit.com/stills/494652.jpg" />
    <ion-card-header>
      <ion-card-subtitle>Dorsey Highschool, Senior, 16 Years Old</ion-card-subtitle>
      <ion-card-title>Collin Harris</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      I consider myself a beginner programmer and artist. I love video games, anime, sports, comic books/manga, music, and many many other things. My favorite sports to watch is Football and my favorite sport to compete in is Track & Field.
    </ion-card-content>
    <ion-card-content>
      Birthday: July 22, 2004
      Phone Number: 323-872-6189
    </ion-card-content>
  </ion-card>

  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>
